/* Variables */
:root {
    --text-color-light: #333;
    --text-color-dark: #f0f0f0;
}

/* Base Layout */
body {
    background-color: #f0f0f0;
    color: var(--text-color-light);
    font-family: Arial, serif;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

/* Container Styles */
.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#bottom-container {
    margin-top: 20px;
}

#small-container {
    display: flex;
    align-items: center;
}

/* Typography */
h1,
h3 {
    color: var(--text-color-light);
}

/* Dark Mode */
.dark-mode {
    background-color: #121212;
    color: var(--text-color-dark);
}

.dark-mode .container {
    background-color: #1f1f1f;
}

.dark-mode h1,
.dark-mode h3 {
    color: var(--text-color-dark);
}

.dark-mode .btn {
    background-color: #3f51b5;
}

.dark-mode .btn:hover {
    background-color: #5566c3;
}

.dark-mode-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.dark-mode .toggle-btn {
    padding: 10px 20px;
    border: 1px solid #ccc;
    background: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.dark-mode .toggle-btn.active {
    padding: 10px 20px;
    border: 1px solid #3f51b5;
    background: #3f51b5;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.dark-mode .download-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3f51b5;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

/* Form Elements */
.file-input {
    margin: 25px 0;
}

.input-toggle {
    margin-bottom: 1rem;
}

.url-input input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Buttons */
.btn {
    background-color: #5783db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #2d64d2;
}

.cancel-btn {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cancel-btn:hover {
    background-color: #f21c0d;
}

.download-btn {
    background-color: #5783db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    display: inline;
    margin-left: 15px;
}

.download-btn:hover {
    background-color: #3367d6;
}

.toggle-btn {
    padding: 0.5rem 1rem;
    margin: 0 0.25rem;
    border: 1px solid #ccc;
    background: none;
    cursor: pointer;
    border-radius: 4px;
}

.toggle-btn.active {
    background: #5783db;
    color: white;
    padding: 10px 20px;
    border: 1px solid #5783db;
    border-radius: 4px;
    cursor: pointer;
}

/* Media Elements */
audio {
    display: block;
    margin: 10px 0;
}
