<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Voice It</title>
        <link
            rel="icon"
            href="{{ url_for('static', filename='favicon.ico') }}"
            type="image/x-icon"
        />
        <link rel="stylesheet" href="../static/style.css" />
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div id="app" class="container">
            {% raw %}
            <button @click="toggleDarkMode" class="dark-mode-toggle">
                {{ isDarkMode ? '🌙' : '☀️' }}
            </button>
            {% endraw %}

            <h1>Voice It</h1>
            <h3>Convert any text file into an audio file!</h3>
            <p>Input must be a TXT, PDF, or DOCX file.</p>
            <p>File must have fewer than 5000 characters.</p>
            <p>Uploaded files and recordings are not stored.</p>

            <div class="file-input">
                <input
                    type="file"
                    ref="file"
                    @change="handleFileUpload"
                    accept=".txt,.pdf,.docx"
                    required
                />
            </div>
            <button
                class="btn"
                @click="submitFile"
                :disabled="!file || isConverting"
            >
                Convert to speech
            </button>
            <button v-if="isConverting" class="redbtn" @click="cancelUpload">
                Cancel upload
            </button>

            <span v-if="isConverting" class="loader"></span>
            <span v-if="isConverting"
                >Estimated time remaining:
                <span v-text="formatTime(count)"></span
            ></span>
            <div v-if="audioFile">
                <p>Conversion complete!</p>
                <audio controls>
                    <source :src="'/audio/' + audioFile" type="audio/mp3" />
                    Your browser does not support the audio element.
                </audio>
            </div>
        </div>
        <!-- <div id="bottom" class="container">
            Consider donating if you find this website useful
            <br />
            <br />
            <button class="btn">Donate</button>
        </div> -->
        <script src="../static/script.js"></script>
    </body>
</html>
