<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="google-site-verification"
            content="e_7JFsPkxL0HBxC_GSW_PNoIkx8jVAdXV7V_2KZ8m7c"
        />
        <meta
            name="description"
            content="Convert text to speech for free using AI. Support for TXT, PDF, and DOCX files. No registration required. Fast and easy online text-to-speech conversion."
        />
        <meta
            name="google-site-verification"
            content="e_7JFsPkxL0HBxC_GSW_PNoIkx8jVAdXV7V_2KZ8m7c"
        />
        <title>Vocality - Free Text to Speech Converter Using AI</title>
        <link
            rel="icon"
            href="{{ url_for('static', filename='favicon.ico') }}"
            type="image/x-icon"
        />
        <link rel="stylesheet" href="../static/style.css" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div id="app" class="container">
            <button id="darkModeToggle" class="dark-mode-toggle">☀️</button>

            <h1>Vocality</h1>
            <h3>Convert text to audio using AI for free!</h3>
            <p>Input must be a website URL or a TXT, PDF, or DOCX file.</p>
            <p>Output will be an MP3 file.</p>
            <p>Text must be in English and have fewer than 2000 characters.</p>
            <p>Uploaded files and recordings are not stored.</p>

            <!-- <div class="input-toggle">
                <button id="urlToggle" class="toggle-btn active">
                    Website URL
                </button>
                <button id="fileToggle" class="toggle-btn">File Upload</button>
            </div>

            <div class="url-input">
                <input
                    type="text"
                    id="urlInput"
                    placeholder="Enter website URL"
                    aria-label="Website URL input"
                />
            </div> -->
            <div class="file-input">
                <input
                    type="file"
                    id="fileInput"
                    accept=".txt,.pdf,.docx"
                    required
                />
            </div>
            <button class="btn" id="convertBtn">Convert to speech</button>
            <button id="cancel-btn" class="cancel-btn" style="display: none">
                Cancel upload
            </button>

            <span id="timeRemaining" style="display: none">
                Estimated time remaining: <span id="countdown"></span>
            </span>
            <div id="audio-container" style="display: none">
                <p>Conversion complete!</p>
                <span id="small-container">
                    <audio id="audioPlayer" controls>
                        Your browser does not support the audio element.
                    </audio>
                    <a id="downloadLink" class="download-btn"
                        >Download audio file</a
                    >
                </span>
            </div>
        </div>
        <div id="bottom-container" class="container">
            Consider donating if you find this website useful.
            <br /><br />
            <button
                class="btn"
                onclick="window.open('https://buymeacoffee.com/sshaik', '_blank')"
            >
                Buy Me a Coffee
            </button>
            <script src="../static/script.js"></script>
        </div>
    </body>
</html>
